* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    /* chiều cao của màn hình, 100 vh là 100 vertical height, nghĩa là full chiều cao màn hình */
    /* border: solid pink 1px; */
    margin: auto;
    box-sizing: border-box;
}

.container_header {
    width: 100%;
    height: 20vh;
    margin-top: 20px;
    
}

.title {
    color: rgb(172, 69, 69);
    text-shadow: 10px 10px rgb(249, 199, 199);
    font-style: italic;
    text-align: center;
}
 
.container_center {
    width: 100%;
    height: 75vh;
    display: flex;
    border: solid rgb(255, 255, 255) 1px;
    position: relative;
    top: -90px;
}

.header {
    width: 100%;
    height: 8vh;
    text-align: center;
    background-color: rgb(213, 124, 124);
}

#icon_home{
    position: relative;
    top: -10px;
}

#stater{
    position: relative;
    top: -30px;
    color: aliceblue;
    font-size: 20px;
}

#main {
    position: relative;
    top: -30px;
    color: aliceblue;
    font-size: 20px;
}

#der {
    position: relative;
    top: -30px;
    color: aliceblue;
    font-size: 20px;
}

#box_search {
    position: relative;
    top: -30px;
}

#go{
    position: relative;
    top: -30px;
}

#char1 {
    font-size: 10px;
    font-size: 70px;
    color: rgb(98, 98, 199);
    margin-left: 30px;
    margin-right: 50px;
    position: relative;
    top: -10px;
}

.left {
    position: relative;
    width: 20%;
    
    
}

.cafe {
    border: solid  rgb(213, 124, 124) 1px;
    border-radius: 20px;
    background-color:  rgb(213, 124, 124);
    text-align: center;
    color: aliceblue;
    margin-bottom: 5px;
}

.capuchino {
    border: solid  rgb(213, 124, 124) 1px;
    border-radius: 20px;
    background-color:  rgb(213, 124, 124);
    position: relative;;
    text-align: center;
    color: aliceblue;
    margin-bottom: 5px;
    
}

.ocean {
    border: solid  rgb(213, 124, 124) 1px;
    border-radius: 20px;
    background-color:  rgb(213, 124, 124);
    position: relative;;
    text-align: center;
    color: aliceblue;
    margin-bottom: 5px;
}

.ice_cream {
    border: solid  rgb(213, 124, 124) 1px;
    border-radius: 20px;
    background-color:  rgb(213, 124, 124);
    position: relative;;
    text-align: center;
    color: aliceblue;
    margin-bottom: 5px;
}

.order {
    border: solid  rgb(213, 124, 124) 1px;
    border-radius: 20px;
    background-color:  rgb(213, 124, 124);
    position: relative;;
    text-align: center;
    color: aliceblue;
    margin-bottom: 15px;
}

#image {
    border: solid;
    width: 200px;
    height: 150px;
    border-radius: 60%;
    box-shadow: 10px 20px 10px pink;
    margin-left: 40px;
}

.center {
    width: 60%;
    margin-left: 10px;
}

.sta_des_in {
    border: solid rgb(203, 101, 135) 1px;
    background-color: rgb(213, 124, 124);
    width: 50%;
    margin-left: 180px;
    font-size: 30px;
    letter-spacing: 10px;
    color: brown;
}

#start {
    margin-left: 20px;
}

ul {
    margin-left: 50px;
}

v {
    color: red;
    text-decoration: underline;
}

.back {
    color: red;
    text-decoration: underline;
}

#honey {
    color: rgb(252, 139, 0);
    font-weight: bold;
}

#firt_name {
    width: 350px;
    height: 50px;
    color: rgb(96, 100, 100);
    margin-right: 50px;
    margin-top: 10px;
}

#last_name {
    width: 350px;
    height: 50px;
    color: rgb(96, 100, 100);
    margin-right: 50px;
    margin-bottom: 30px;
}

#email {
    width: 350px;
    height: 50px;
    color: rgb(96, 100, 100);
    margin-right: 50px;
    margin-bottom: 30px;
}

#telephone {
    width: 350px;
    height: 50px;
    color: rgb(96, 100, 100);
    margin-right: 50px;
}

#select {
    width: 350px;
    height: 50px;
    color: rgb(96, 100, 100);
    margin-right: 50px;
    margin-bottom: 30px;
}

.button {
    height: 30px;
    margin-bottom: 20px;
}

.right {
    width: 20%;
    background-color: rgb(0, 0, 0);
    height: 90%;
}

.right_header {
    text-align: left;
}

.right_img {
    border: solid;
    width: 250px;
    height: 150px;
    margin-left: 30px;
}


.events {
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 20px;
}

.paragraph {
    color: aliceblue;
    margin-left: 30px;
    font-size: 12px;
    margin-bottom: 20px;
}

h3 {
    color: aliceblue;
    margin-left: 30px;
}

#bottom {
    width: 100%;
    height: 10vh;
    background-color: rgb(213, 124, 124);
    border: solid rgb(203, 101, 135) 1px;
    position: relative;
    top: -50px;
}

h2 {
    color: aliceblue;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}
.icon {
    border: solid aliceblue;
    box-sizing: border-box;
    border-bottom: 2px;
    border-top: 5px;
    border-radius: 10px;
    width: 20px;
    height: 10px;
    position: relative;
    top: -10px;
/*     hihi */
    bottom: 0px;
}
